h1 {
    font-family: 'Times New Roman';
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 300%
}


body{
    background-color: black;
    background-image: url("wallpaper2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.navbar{
    background-color: black;
    padding: 15px;
    margin-top: 0;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 10px rgb(255, 255, 255);
  z-index: 1000;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #007bff;
}
body {
  padding-top: 70px;
  margin: 0;
}
.logo {
    color: #ffffff;
}
.follow {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.follow a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  transition: 0.3s;
  margin: 0 100px;
}

.follow a:hover {
  color: #007bff;
}
.tiktod {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -5%);
    width: 150px;
    transition: 0.3s;
}
.tiktod:hover {
    transform: translate(-50%, -5%) scale(1.1);
}
.container {
    position: relative;
    height: calc(100vh - 70px);
}
.ig {
    position: absolute;
    top: 35%;
    right: 30%;
    transform: translate(-50%, -5%);
    width: 150px;
    transition: 0.3s;
}
.ig:hover {
    transform: translate(-50%, -5%) scale(1.1);
}
.container {
    position: relative;
    height: calc(100vh - 70px);
}
.nah {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -5%);
    width: 100px;
    transition: 0.3s;
    transform: rotate(-10deg);
}
.nah:hover {
    transform: translate(-50%, -5%) scale(1.1);
    transform: rotate(-5deg);
}
.container {
    position: relative;
    height: calc(100vh - 70px);
}